$radius: 0;
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/grid/_all";
@import "~bulma/sass/components/panel";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/form";
@import "~bulma/sass/elements/notification";

html, body, #root {
	height: 100%;
	overflow: hidden;
}

@each $name, $values in $colors {
	.#{$name} {
		color: nth($values, 1);
	}
}

.tile {
	outline: 1px solid #dbdbdb;
	padding: 0;
	&.is-parent {
		padding: 0;
	}
	&.is-vertical {
		& > .tile.is-child:not(:last-child) {
			margin-bottom: 0 !important
		  }
	}
}